<!doctype html>

  <head>
    <title>Catalog</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/base.css')}}">
    {% block head %}{% endblock %}
  </head>

  <body>

    <nav>
      <span class="top-nav constrain-max-width">
        <a href="{{url_for('viewCatalog')}}">Home</a>
        {% if "username" in session %}
          <a href="{{url_for('gdisconnect')}}">Sign out</a>
        {% else %}
          <a href="{{url_for('showLogin')}}">Sign in</a>
        {% endif %}
      </span>
    </nav>

    <span class="flashed-messages constrain-max-width">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li>{{message}}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </span>

    <main>
      {% block content %}{% endblock %}
    </main>

  </body>

</html>
