{% extends 'base.html' %}

{% block content %}

  <h1>Catalog</h1>

  {% if categories %}
      {% for category in categories %}
        <section>
          <a href="{{url_for('viewCategory', category_title=category.title)}}">
            <h3>{{category.title}}</h3>
            {% if category.image.filepath %}
              <img src="{{url_for('serveUpload', filepath = category.image.filepath)}}" class="constrain-max-width">
            {% endif %}
          </a>
        </section>
      {% endfor %}
  {% endif %}

  {% if "username" in session %}
    <nav class="actions-nav">
      <ul>
        <li>
          <a href="{{url_for('newCategory')}}">Add a new category</a>
        </li>
      </ul>
    </nav>
  {% endif %}

{% endblock %}
