{% extends 'base.html' %}

{% block content %}

  <h1>Delete {{item.title}}</h1>

  <form action="{{url_for('deleteItem', category_title = category.title, item_title = item.title)}}" method="post" class="form">

    Are you sure you want to delete {{item.title}}?</br>
    <input type="submit" value="Yes">

  </form>

  <a href="{{url_for('viewItem', category_title = category.title, item_title = item.title)}}">
    Cancel
  </a>

{% endblock %}
