{% extends 'base.html' %}

{% block content %}

  <h1>Delete category {{category.title}}</h1>

  <form action="{{url_for('deleteCategory', category_title=category.title)}}" method="post" class="form">

    Are you sure you want to delete {{category.title}}?</br>
    <input type="submit" value="Yes">

  </form>

  <a href="{{url_for('viewCategory', category_title = category.title)}}">
    Cancel
  </a>

{% endblock %}
