{% extends 'base.html' %}

{% block content %}

  <h1>New category</h1>

  <form action="{{url_for('newCategory')}}" method="post" enctype="multipart/form-data" class="form">

    Title: <input type="text" name="title" required></input></br>
    Image: <input type="file" name="image" accept="image/*"></input></br>
    <input type="submit" value="Submit"></input>

  </form>

  <a href="{{url_for('viewCatalog')}}">
    Cancel
  </a>

{% endblock %}
