{% extends 'base.html' %}

{% block content %}

  <h1>{{category.title}}</h1>

  <form action="{{url_for('newItem', category_title = category.title)}}" method="post" enctype="multipart/form-data" class="form">

    Name: <input type="text" name="title" required></input></br>
    Description: <input type="text" name="description"></input></br>
    Image: <input type="file" name="image" accept="image/*"></input></br>
    <input type="submit" value="Submit">

  </form>

  <a href="{{url_for('viewCategory', category_title = category.title)}}">
    Cancel
  </a>

{% endblock %}
