{% extends 'base.html' %}

{% block content %}

  <h1>Update item: {{item.title}}</h1>

  <form action="{{url_for('updateItem', category_title = category.title, item_title = item.title)}}" method="post" enctype="multipart/form-data" class="form">

    Title: <input type="text" name="title" placeholder="{{item.title}}"></input></br>
    Description: <input type="text" name="description"></input></br>
    Image: <input type="file" name="image" accept="image/*"></input></br>
    <input type="submit" value="Submit">

  </form>

  <a href="{{url_for('viewItem', category_title = category.title, item_title = item.title)}}">
    Cancel
  </a>

{% endblock %}