{% extends 'base.html' %}

{% block content %}

  <h1>Update category: {{category.title}}</h1>

  <form action="{{url_for('updateCategory', category_title=category.title)}}" method="post" enctype="multipart/form-data" class="form">

    Name: <input type="text" name="title" placeholder="{{category.title}}" required></br>
    Image: <input type="file" name="image" accept="image/*"></input></br>
    <input type="submit" value="Submit">

  </form>

  <a href="{{url_for('viewCategory', category_title = category.title)}}">
    Cancel
  </a>

{% endblock %}
