{% extends 'base.html' %}

{% block content %}

  <h1>{{item.title}}</h1>

  {% if item.image.filepath %}
    <img src="{{url_for('serveUpload', filepath = item.image.filepath)}}" class="constrain-max-width">
  {% endif %}

  <p>{{item.description}}</p>

  {% if "username" in session %}
    <nav class="actions-nav">
      <ul>
        <li><a href="{{url_for('updateItem', category_title = category.title, item_title = item.title)}}">Edit item</a></li>
        <li><a href="{{url_for('deleteItem', category_title = category.title, item_title = item.title)}}">Delete item</a></li>
      </ul>
    </nav>
  {% endif %}

{% endblock %}
