{% extends 'base.html' %}

{% block content %}

  <h1>{{category.title}}</h1>

  {% if category.image.filepath %}
    <img src="{{url_for('serveUpload', filepath = category.image.filepath)}}" class="constrain-max-width">
  {% endif %}

  {% if "username" in session %}
    <nav class="actions-nav">
      <ul>
        <li><a href="{{url_for('newItem', category_title = category.title)}}">Add a new item</a></li>
        <li><a href="{{url_for('updateCategory', category_title = category.title)}}">Edit category</a></li>
        <li><a href="{{url_for('deleteCategory', category_title=category.title)}}">Delete category</a></li>
      </ul>
    </nav>
  {% endif %}

  {% if items %}
    {% for item in items %}
      <section>
        <a href="{{url_for('viewItem', category_title = category.title, item_title = item.title)}}">
          <h3>{{item.title}}</h3>
          {% if item.image.filepath %}
            <img src="{{url_for('serveUpload', filepath = item.image.filepath)}}" class="constrain-max-width">
          {% endif %}
        </a>
      </section>
    {% endfor %}
  {% endif %}

{% endblock %}
