body {
    margin: 0;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f1f4f0;
    color: #45323b;
    text-align: center;
}

main {
    background-color: #f1f4f0;
}

nav {
    background-color: #f1f4f0;
}

li {
    padding: 20px 0 20px 0;
}

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flashed-messages {
    text-align: left;
}

.actions-nav {
    text-align: left;
}

.form {
    text-align: left;
}

a {
    color: #5aaa9f;
}

h1 {
    width: 100%;
    background-color: #5aaa9f;
    text-align: center;
    padding: 30px 0 30px 0;
    border: 0;
    margin: 0;
}

h3 {
    width: 100%;
    color: #45323b;
    text-align: center;
    text-decoration: none;
}

img {
    max-width: 100vw;
    height: auto;
}

@media screen and (min-width: 600px) {

    .constrain-max-width {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .flashed-messages ul {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .actions-nav ul {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

}